<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default.html}">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <section layout:fragment="content">
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <div class="flex-grow-1 rounded border border-zinc-100 md:col-span-2 lg:col-span-3 p-5">Main Content</div>
            <div class="rounded border border-zinc-100 p-5">
                <h3 class="text-lg font-semibold">Sensors</h3>
                <div class="flex justify-between">
                </div>
            </div>
        </div>
    </section>
</body>
</html>